#penne-strogonoff {
    background-image: url('/assets/images/food/penne.jpg');
}

#frango-yin-yang {
    background-image: url('/assets/images/food/frango_yin_yang.png');
}

#trad-fitness {
    background-image: url('/assets/images/food/fitness.jpg');
}

#lasanha {
    background-image: url('/assets/images/food/lasanha.jpg');
}

#panqueca {
    background-image: url('/assets/images/food/panqueca.jpg');
}

#refri-lata {
    background-image: url('/assets/images/drinks/refri_lata.png');
}

#refri-litro {
    background-image: url('/assets/images/drinks/refri_1lt.jpg');
}

#milk-shake {
    background-image: url('/assets/images/drinks/milk_shake.jpg');
}

#laranja {
    background-image: url('/assets/images/drinks/suco_laranja.jpg');
}

#pudim {
    background-image: url('/assets/images/desserts/pudim.png');
}

#pave {
    background-image: url('/assets/images/desserts/pave.jpg');
}

#torta {
    background-image: url('/assets/images/desserts/torta.jpg');
}

#petit {
    background-image: url('/assets/images/desserts/petit.jpg');
}